.header{
    background-color: rgb(138, 43, 226 , 0.5);
    border-radius: 20px ;
    text-align: center; 
    font-size: 40px; 
    padding-top: 30px  ; 
    padding-bottom: 30px;
    box-shadow:  0 4px 6px rgb(105, 103, 104);
    /* opacity: 0.7; */
}